<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>This page demonstrates the Command Execution vulnerbility.</p>
    <a href="/">back to home</a>
    <h2>Enter a domain to lookup</h2>
    <form>
      <label for="search">Who Is Search:</label>
      <input type="text" placeholder="search criteria" name="q" value="<%= q%>" style="width: 40em"/>
      <input type="submit" value="Search!!"/>
    </form>
    <% if (error || stderr) { %>
      <h3>An error occured:</h3>
      <p><%= `${error} ${stderr}` %></p>
    <% } else if(stdout) { %>
      <hr/>
      <h3>Search Results for "<%- q %>"</h3>
      <pre class="standard"><%= stdout %></pre>
    <% } %>
  </body>
</html>
