<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>This page demonstrates an SQL injection vulnerability plus more.</p>
    <a href="/">back to home</a>
    <hr/>
    <h2>Welcome back <%= username %></h2>
    <ul>
      <li><strong>Username:</strong> <%= username %></li>
      <li><strong>Email:</strong> <%= email %></li>
    </ul>
  </body>
</html>
