<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>This page demonstrates the Cross-Site-Scripting (XSS) vulnerbility.</p>
    <a href="/">back to home</a>
    <hr/>
    <button onclick="toggleMessage()">Toggle Message Posting</button>
    <% if (error) { %>
    <div class="error">
      <h2>Your Message Could Not Be Posted</h2>
      <p><%- error %></p>
    </div>
    <% } %>
    <div id="postAMessage" style="display:none">
      <h2>Post a Message</h2>
      <form method="POST">
        <label for="from">From:<br/>
          <input type="text" required name="from" style="width:40em;" placeholder="your name"/></label><br/>
        <label for="Message">Message:<br/>
          <textarea placeholder="Your message" required name="message" style="width:40em; height: 5em;"></textarea>
        </label><br>
        <input type="submit" value="Post Your Message"/>
      </form>
    </div>
    <h2>Message Board</h2>
    <table>
      <tr>
        <th>From</th>
        <th>Time</th>
        <th>Message</th>
      </tr>
      <% messages.forEach((message) => { %>
      <tr>
        <td><%= message.message_from %></td>
        <td><%- new Date(message.message_time).toString() %></td>
        <td><%- message.message %></td>
      </tr>
      <% }) %>
    </table>
  </body>
  <script>
    let hidden = true;
    const messagePoster = document.getElementById('postAMessage');
    function toggleMessage() {
      messagePoster.style.display = hidden?'block':'none';
      hidden = !hidden;
    }
    const params = new URLSearchParams(window.location.search);
    if (params.get('error')) {
      toggleMessage();
    }
  </script>
</html>
